<!DOCTYPE html>
<html lang="en">
	<title> Sport Data Tracker</title>
	<head>
		<link href="../static/main.css" rel="stylesheet">
	</head>
	
	<body>
	
		<header>
			<div> 
				<p id="HeaderText">SportDataTracker </p>
				<a href="/">
					<img id="HeaderImg" src="../static/Runner.png" action="main.html">
				</a>
			</div>
		</header>
		
		<div class="DataCollector"> 
			<h1> Insert your activity data below! </h1>
			
			<form action="{{url_for('submit')}}" method="POST">

				<label for="SportType">Sport Type</label> <br>
				<select name="SportType" id="SportType">
				  <option value="Run">Running</option>
				  <option value="Cycling">Cycling</option>
				  <option value="MountainBiking">Mountain Biking</option>
				  <option value="Hike">Hiking</option>
				</select><br>
				
				<label for="distance">Distance</label> <br>
				<input  type="number" placeholder="Distance:"  name="distance" step="0.1" required><br>
				
				<label for="ElevationGain">Elevation gain</label> <br>
				<input type="number" placeholder="Elevation gain:"  name="ElevationGain" required><br>
				
				<label for="time">Date & Duration</label> <br>
				<input type="date" placeholder="Date:" name="Date" required><input type="time" placeholder="Duration" name="Time" required><br>

				<label for="description">Description</label> <br>
				<input type="description" placeholder="Enter activity description here:"  name="Description"><br><br>
				
				<input type="submit" value="Submit">
			</form>
			
		</div>
	</body>
</html>