<!DOCTYPE html>
<html lang="en">
	<title> Sport Data Tracker</title>
	<head>
		<link href="../static/main.css" rel="stylesheet">
	</head>
	
	<body>
		<header>
			<div> 
				<p id="HeaderText">SportDataTracker </p>
				<img id="HeaderImg" src="Runner.png">
			</div>
		</header>
	
		<div class="MainPage"> 
		<h1> Welcome to Sport Data Tracker! </h1>
			<form id="LeftButton" action="DataCollector.html">
				<h3> INSERT ACTIVITY DATA </h3>
				<button type="submit" style="background-image: url('InsertData.png');"> </button>
			</form>

			<form id="RightButton" action="statisctics.html">
				<h3> ACTIVITY STATISTICS </h3>
				<button type="submit" style="background-image: url('Stats.png');">  </button>
			</form>	
		</div>
		
		<footer>
			<p> by Denis Štenkler</p>
		</footer>
	</body>
</html>