<!DOCTYPE html>
<html lang="en">
	<title> Sport Data Tracker</title>
	<head>
		<link href="../static/main.css" rel="stylesheet">
	</head>

	<body>

		<header>
			<div>
				<p id="HeaderText">SportDataTracker </p>
				<a href="/">
					<img id="HeaderImg" src="../static/Runner.png" action="main.html">
				</a>
			</div>
		</header>

		<div class="Statistics">
			<h1> Statistics </h1>

			<table class="styled-table">
				<th>
					<tr style="color: black; ">
						<th>Training nr</th>
						<th>Sport type</th>
						<th>Distance</th>
						<th>Elevation gain</th>
						<th>Date</th>
						<th>Time</th>
						<th>Description</th>
					</tr>
				</th>
				{%for id in query%}
					<tr>
						<td>
						{{id.id}}
						</td>
						<td>
						{{id.SportType}}
						</td>
						<td>
						{{id.Distance}}
						</td>
						<td>
						{{id.ElevationGain}}
						</td>
						<td>
						{{id.Date}}
						</td>
						<td>
						{{id.Time}}
						</td>
						<td>
						{{id.Description}}
						</td>
					</tr>
				{%endfor%}
			 </table>
		</>
	</body>
</html>